<header>
    <div class="hero">
        <div class="header">
            <a href="#" class="button" id="home">Home</a>
            <a href="#" class="button" id="about">About</a>
            <a href="#" class="button" id="manage">Manage</a>
        </div>
    </div>
</header>