<header>
    <div class="hero">
        <div class="header">
            <div><a href="/movie/home" class="button" id="home">Home</a></div>
            <div><a href="/movie/about" class="button" id="about">About</a></div>
            <div><a href="/movie" class="button" id="manage">Manage</a></div>
        </div>
    </div>
</header>