<header>
    <div class="hero">
        <div class="header">
            <a href="/movie/home" class="button" id="home">Home</a>
            <a href="/movie/about" class="button" id="about">About</a>
            <a href="/movie/genres" class="button" id="genre">Genres</a>
            <a href="/movie" class="button" id="manage">Manage</a>
        </div>
    </div>
</header>