<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div class="container-title">
            <div id="name">
                <h1 class="name-emphasis">B</h1><h1>uster</h1> <h1 class="name-emphasis">B</h1><h1>lock</h1>
            </div>
            </div>
        <div class="container-form">
            <form action="/user/login" method="post">
                <h2>User Login</h2>
                <label>
                    USERNAME: <input type="text" name="username" required>
                </label>
                <label>
                    PASSWORD: <input type="password" name="password" required>
                </label>
                <input type="submit" value="Login">
            </form>
        </div>
    </main>
    
</body>
</html>