<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <div class="container-title">
        <div id="name">
            <h1 class="name-emphasis">B</h1><h1>uster</h1> <h1 class="name-emphasis">B</h1><h1>lock</h1>
        </div>
    
</body>
</html>