<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <div class="container-title">
        <div id="name">
            <h1 class="name-emphasis">B</h1><h1>uster</h1> <h1 class="name-emphasis">B</h1><h1>lock</h1>
        </div>
    </div>
    <div class="about-section">
        <p>This application is modeled after the text-based friend and dating application called "Lex." This application utilizes a clean and simple layout that focuses on text, as opposed to images. Buster Block is designed to help users track the movies that they watch and add notes for a review.</p>
    </div>
</body>
</html>